# load data

In [ ]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

def modelSelection(name,error,rep):
  tagName=pd.read_csv(name)
  tagError=pd.read_csv(error)
  tagRep=pd.read_csv(rep)
  yError=tagError.drop(['Unnamed: 0','model','n_below','n_topic', 'alpha', 'eta'], axis=1)
  frames=[]
  for i in list(yError.columns):
      kk=tagError[tagError[i]==min(tagError[i])][['alpha', 'eta', 'n_topic']]
      kk.reset_index(inplace=True)
      #print(i, min(tagError[i]))
      #print(kk)
      for j in range(len(kk)):
        out=pd.DataFrame()
        alp=str(kk.iloc[j]['alpha'])
        beta=str(kk.iloc[j]['eta'])
        top=str(kk.iloc[j]['n_topic'])
        #print(alp, beta, top)
        #[below:topic:alpha:eta]_15:100:0.005:None.sav
        out['job']=pd.Series([i[6:]])
        out['alpha']=pd.Series([alp])
        out['beta']=pd.Series([beta])
        out['n_topic']=pd.Series([top])
        for h in tagRep[tagRep['model']== '[below:topic:alpha:eta]_15:'+ top+':'+alp+':'+beta+'.sav'][i[6:]]:
          out['Represent_topic']=pd.Series([h])
        out['acc_first']= (1-min(tagError[i]))*100
        k=tagName[tagName['tag_topic']==i[6:]]['[below:topic:alpha:eta]_15:'+top+':'+alp+':'+beta+'.sav'].value_counts()
        x=list(k.index)
        y=[(h*100)/sum(list(k)) for h in list(k)]
        for t in range(1,4):
          if t<len(x):
            out[str(t+1)+'_guest']=pd.Series([x[t]])
            out['acc_'+str(t+1)+'_guest']=pd.Series([y[t]])
          else:
            out[str(t+1)+'_guest']=pd.Series(['-'])
            out['acc_'+str(t+1)+'_guest']=pd.Series(['-'])
        frames.append(out)
  allData=pd.concat(frames)
  print('finish')
  return allData

In [ ]:
tagName=pd.read_csv('tagingJobName_Title_noBiTri_Final%V3_AlphaBeta_tag2_V8.csv')
tagError=pd.read_csv('taggingError_Title_noBiTri_Final%V3_AlphaBeta_tag2_V8.csv')
tagRep=pd.read_csv('tagingNumber_Title_noBiTri_Final%V3_AlphaBeta_tag2_V8.csv')
tagName.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (229,231,237,240,242,243,244,253,254,255,260,414,415,416,417,418,419,420,421,430,432,437) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Unnamed: 0  ... [below:topic:alpha:eta]_15:98:0.1:None.sav
0           0  ...                             credit analyst
1           1  ...             Investor // finance // account
2           2  ...             Investor // finance // account
3           3  ...             Investor // finance // account
4           4  ...                                   gardener

[5 rows x 1862 columns]

In [ ]:
tagError.head()

   Unnamed: 0  ... error_entertainer
0           0  ...               0.0
1           0  ...               0.0
2           0  ...               0.5
3           0  ...               0.0
4           0  ...               0.5

[5 rows x 38 columns]

In [ ]:
tagRep.head()

   Unnamed: 0  ...     maid
0           0  ...      NaN
1           0  ...  [9, 50]
2           0  ...     [86]
3           0  ...      NaN
4           0  ...     [93]

[5 rows x 34 columns]

In [ ]:
for i in tagRep[tagRep['model']=='[below:topic:alpha:eta]_15:100:0.002:None.sav']['entertainer']:
  print(i)

[33, 30]

# tag2_V8 hyperparameters selection

In [ ]:
yError=tagError.drop(['Unnamed: 0','model','n_below','n_topic', 'alpha', 'eta'], axis=1)
yError.head()

   error_credit analyst  ...  error_entertainer
0              0.446154  ...                0.0
1              0.846154  ...                0.0
2              0.800000  ...                0.5
3              0.815385  ...                0.0
4              0.369231  ...                0.5

[5 rows x 32 columns]

In [ ]:
frames=[]
for i in list(yError.columns):
  kk=tagError[tagError[i]==min(tagError[i])][['alpha', 'eta', 'n_topic']]
  kk.reset_index(inplace=True)
  print(i, min(tagError[i]))
  #print(kk)
  for j in range(len(kk)):
    out=pd.DataFrame()
    alp=str(kk.iloc[j]['alpha'])
    beta=str(kk.iloc[j]['eta'])
    top=str(kk.iloc[j]['n_topic'])
    #print(alp, beta, top)
    #[below:topic:alpha:eta]_15:100:0.005:None.sav
    out['job']=pd.Series([i[6:]])
    out['alpha']=pd.Series([alp])
    out['beta']=pd.Series([beta])
    out['n_topic']=pd.Series([top])
    for h in tagRep[tagRep['model']== '[below:topic:alpha:eta]_15:'+ top+':'+alp+':'+beta+'.sav'][i[6:]]:
      out['Represent_topic']=pd.Series([h])
    out['acc_first']= (1-min(tagError[i]))*100
    k=tagName[tagName['tag_topic']==i[6:]]['[below:topic:alpha:eta]_15:'+top+':'+alp+':'+beta+'.sav'].value_counts()
    x=list(k.index)
    y=[(h*100)/sum(list(k)) for h in list(k)]
    for t in range(1,4):
      if t<len(x):
        out[str(t+1)+'_guest']=pd.Series([x[t]])
        out['acc_'+str(t+1)+'_guest']=pd.Series([y[t]])
      else:
        out[str(t+1)+'_guest']=pd.Series(['-'])
        out['acc_'+str(t+1)+'_guest']=pd.Series(['-'])
    frames.append(out)

error_credit analyst 0.04615384615384616
error_Investor // finance // account 0.08116385911179172
error_Stock // procurement // supply 0.19069767441860466
error_sale // service 0.1471861471861472
error_marketing // advertising 0.2588757396449704
error_therapist 0.05660377358490566
error_other managers 0.53125
error_manufacturing manager 0.07142857142857142
error_waiter 0.04166666666666666
error_retail manager 0.1415525114155251
error_law 0.044198895027624314
error_HR 0.08904109589041095
error_coordinator 0.20382165605095545
error_Policy manager // BD 0.20245398773006132
error_graphic design 0.07853403141361258
error_vehicle driver 0.10833333333333334
error_translator 0.05555555555555555
error_maid 0.06
error_cooker + bartender 0.1111111111111111
error_writer 0.07692307692307693
error_security + safety 0.10714285714285714
error_product 0.3484848484848485
error_event organizer 0.4
error_interior archetecture 0.1206896551724138
error_architecture 0.14035087719298245
error_cashier 0.03448275862068965
error_teacher 0.07329842931937172
error_care taker 0.0
error_gardener 0.0
error_flim 0.0
error_photographer 0.0
error_entertainer 0.0

In [ ]:
type(kk.iloc[3]['n_topic'])

numpy.int64

In [ ]:
i

'error_entertainer'

In [ ]:
i[6:]

'entertainer'

In [ ]:
allData=pd.concat(frames)

In [ ]:

allData[:10]

                              job  ... acc_4_guest
0                  credit analyst  ...     1.53846
0                  credit analyst  ...     1.53846
0                  credit analyst  ...     1.53846
0                  credit analyst  ...     1.53846
0                  credit analyst  ...     1.53846
0                  credit analyst  ...     1.53846
0  Investor // finance // account  ...    0.614439
0  Stock // procurement // supply  ...     1.64706
0                 sale // service  ...      0.3367
0        marketing // advertising  ...     2.67062

[10 rows x 12 columns]

In [ ]:
k=tagName[tagName['tag_topic']=='credit analyst']['[below:topic:alpha:eta]_15:'+'101'+':'+'0.065'+':'+'None'+'.sav'].value_counts()
x=list(k.index)
y=[(h*100)/sum(list(k)) for h in list(k)]
x

['credit analyst',
 'Investor // finance // account',
 'Stock // procurement // supply',
 'sale // service']

In [ ]:
y

[95.38461538461539, 1.5384615384615385, 1.5384615384615385, 1.5384615384615385]

In [ ]:
allData.to_csv('modelSelection_tag2_V8'+'.csv',index=False, header=True)

# tag2_V9 hyperparameters selection

In [ ]:
name='tagingJobName_Title_noBiTri_Final%V3_AlphaBeta_tag2_V8.csv'
error='taggingError_Title_noBiTri_Final%V3_AlphaBeta_tag2_V8.csv'
rep='tagingNumber_Title_noBiTri_Final%V3_AlphaBeta_tag2_V8.csv'
output=modelSelection(name,error,rep)
output[:10]
#output.to_csv('modelSelection_tag2_V9'+'.csv',index=False, header=True)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2822: DtypeWarning: Columns (229,231,237,240,242,243,244,253,254,255,260,414,415,416,417,418,419,420,421,430,432,437) have mixed types.Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

finish

                              job  ... acc_4_guest
0                  credit analyst  ...     1.53846
0                  credit analyst  ...     1.53846
0                  credit analyst  ...     1.53846
0                  credit analyst  ...     1.53846
0                  credit analyst  ...     1.53846
0                  credit analyst  ...     1.53846
0  Investor // finance // account  ...    0.614439
0  Stock // procurement // supply  ...     1.64706
0                 sale // service  ...      0.3367
0        marketing // advertising  ...     2.67062

[10 rows x 12 columns]